
@media (max-width: 768px) {
    .main {
      width: 100%;
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.containers1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.containers2{
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.test1{
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(11, 109, 165);
    color: rgb(11, 109, 165);
    width: 200px;
    height: 80px;
    padding: 2px;
    margin: 10px 0px 10px 10px;
}
.test2{
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(11, 109, 165);
    color: rgb(11, 109, 165);
    padding: 2px;
    width: 600px;
    height: 80px;
    margin: 10px 0px 10px 0px;
}
.test3{
    width: 100px;
    height: 80px;
    margin: 10px;
    margin-top: 20px;
    padding: 2px;
    display: flex;
}
.content{
    display: flex;
    text-align: center;
}
.content span {
    font-size: 18px;
    margin-bottom: 5px;
}
.content1{
    padding: 2px;
    margin: 5px;
    margin-left: 5%;
    text-align: center;
}
 .content2{
    padding: 2px;
    margin: 5px;
    margin-left: 20%;
    text-align: center;
}
.content3{
    padding: 2px;
    margin: 2px;
    text-align: center;
    margin-left: 10%;
    float: right;
}

.date{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 20px;
}
.ajouter {
    background-color: #4CAF50;
    color: #fff;
    margin-right: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.modifier, .supprimer {
     margin-left: 10px;
     margin: 20% 10px 10px 10px;
}

.modifier a, .supprimer a {
    color: rgb(11, 109, 165);
    text-decoration: none;
    font-size: 18px;
}
.modifier a:hover, .supprimer a:hover {
    color: #304ae0;
}